<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="css/ramen.css" type="text/css">
    <title>千葉人気No.1ラーメン</title>
  </head>
  <body>
    <div>
      <h1>千葉人気No.1ラーメン</h1>
      <p>
<section>
<strong><a href=https://tabelog.com/chiba/A1203/A120302/12000422/>中華蕎麦　とみ田</strong></a>
<br>とみ田は千葉県松戸市松戸1339 高橋ビル 1F、JR松戸駅東口より　徒歩4分の場所に位置しています。
<br>人気商品はつけ麺と厳選されたチャーシューを使ったチャーシュー丼である。
</section>

<br>
<br><br><br><br>
<img width="500" height="300" src="
https://tblg.k-img.com/restaurant/images/Rvw/87687/640x640_rect_87687438.jpg


">
<img width="500" height="300" src="
https://tblg.k-img.com/restaurant/images/Rvw/87687/640x640_rect_87687446.jpg


">

</body>
</html>
