<html>
  <head>
    <meta charset="utf-8">
    <title>群馬人気No.1ラーメン</title>
      <link rel="stylesheet" href="css/ramen.css" type="text/css">
  </head>
  <body>
    <div>
      <h1>群馬人気No.1ラーメン</h1>
      <p>
<section>
<strong><a href=tabelog.com/gunma/A1002/A100201/10014488/>らーめん芝浜</strong></a>
<br>らーめん芝浜は群馬県桐生市相生町1-303-1 、わたらせ渓谷鐡道利用「下新田駅」から徒歩約10分に位置しています。
<br>驚く点は朝7時から営業しているところだ！
<br>ＳＩＭＰＬＥ　ＩＳ　ＴＨＥ　ＢＥＳＴ！
</section>


<br><br><br><br><br>
<img width="500" height="300" src="
https://tblg.k-img.com/restaurant/images/Rvw/68883/640x640_rect_68883925.jpg


">

</body>
</html>
