<html>
  <head>
    <meta charset="utf-8">
    <title>神奈川人気No.1ラーメン</title>
      <link rel="stylesheet" href="css/ramen.css" type="text/css">
  </head>
  <body>
    <div>
      <h1>神奈川人気No.1ラーメン</h1>
      <p>
<section>
<strong><a href=https://tabelog.com/kanagawa/A1410/A141002/14038776/>らぁ麺屋　飯田商店</strong></a>
<br>飯田商店は足柄下郡湯河原町土肥2-12-14、最寄り駅はＪＲ東海道本線「湯河原駅」より徒歩12分に位置しています。
</section>


<br><br><br><br><br>
<img width="500" height="300" src="
https://tblg.k-img.com/restaurant/images/Rvw/71039/640x640_rect_71039616.jpg

">

</body>
</html>
