<html>
    <head>
        <title>栃木</title>
        <meta charset="UTF-8" />
          <link rel="stylesheet" href="css/ramen.css" type="text/css">
    </head>
    <body>
        <div>
            <h1>栃木No.1</h1>
            <h2><a href="https://tabelog.com/tochigi/A0902/A090202/9009352/">青竹手打ラーメン 日向屋</a></h2>
              <img width="400" height="300" alt="青竹手打ラーメン 日向屋" src="https://tblg.k-img.com/restaurant/images/Rvw/66340/150x150_square_66340261.jpg"></a>
        </div>
    </body>
</html>
